# Refactoring a cura di Giulio, Jacopo e Mohammed

Installiamo le librerie necessarie:

In [ ]:
# Librerie da installare
install.packages(c('httr', 'readr', 'data.table', 'psych', 'htmltab', 'stringi', 'bizdays', 'stringr', 'dplyr', 'lubridate', 'zoo', 'reshape2'))

# Parte 1 - REST API

## Consuming APIs and JSON

In [6]:
library(httr)

WScall <- function(endpoint, parameters) {
    result <- GET(endpoint, query = parameters)
    return(result)
}

ad <- "1600 Pennsylvania Avenue, Washington, DC"
urla <- "http://nominatim.openstreetmap.org/search"
paramA <- list(q = ad, addressdetails = 1, format = "json")

resA <- WScall(urla, paramA)

if (resA$status_code == 200) {
    adrjson <- content(resA, as = "parsed")
    lat = adrjson[[1]]$lat
    lon = adrjson[[1]]$lon
}

urlw <- "http://forecast.weather.gov/MapClick.php"
paramW <- list(lat = lat, lon = lon, FcstType = "json")

resW <- WScall(urlw, paramW)

if (resW$status_code == 200) {
    weajson <- content(resW, as = "parsed")
    weajson$currentobservation
}

$id
[1] "KDCA"

$name
[1] "Washington/Reagan National Airport, DC"

$elev
[1] "13"

$latitude
[1] "38.85"

$longitude
[1] "-77.03"

$Date
[1] "22 Jun 03:52 am EDT"

$Temp
[1] "77"

$Dewp
[1] "71"

$Relh
[1] "82"

$Winds
[1] "6"

$Windd
[1] "220"

$Gust
[1] "0"

$Weather
[1] "Mostly Cloudy"

$Weatherimage
[1] "nbkn.png"

$Visibility
[1] "10.00"

$Altimeter
[1] "1015.1"

$SLP
[1] "29.98"

$timezone
[1] "EDT"

$state
[1] "VA"

$WindChill
[1] "NA"

# Parte 2 - Libreria PANDAS

## Nouns (objects) in Pandas
### Data Frames
Con due vettori creo il dataframe

In [7]:
number = c(1, 2, 3)
animal = c('cat', 'dog', 'mouse')
df1 = data.frame(number, animal)
df1

df1$animal

  number animal
1 1      cat
2 2      dog
3 3      mouse

[1] cat   dog   mouse
Levels: cat dog mouse

1)Richiamo la colonna "animal" del data frame.

2)Estraggo gli elementi della colonna "animal" come una lista.

3)Per creare un data frame possiamo anche operare in altri modi.

4)Con la libreria compare posso confrontare i due data frame.

In [8]:
df1["animal"] #1

as.list(df1$animal) #2

df2 <- data.frame(animal=animal, number= number) #3
df2
df2 <- as.data.frame(cbind(animal,number)) #3
df2

library(compare)   #4
compare(df1,df2,allowAll=TRUE)

  animal
1 cat
2 dog
3 mouse

[[1]]
[1] cat
Levels: cat dog mouse

[[2]]
[1] dog
Levels: cat dog mouse

[[3]]
[1] mouse
Levels: cat dog mouse

  animal number
1 cat    1
2 dog    2
3 mouse  3

  animal number
1 cat    1
2 dog    2
3 mouse  3

ERROR: Error in library(compare): there is no package called 'compare'

# Verbs (operations) in Pandas
## Loading data (and basic statistics / visualization)

In [9]:
library(readr)
library(data.table)
names = c("State_Code", "County_Code", "Census_Tract_Number", "NUM_ALL", "NUM_FHA", "PCT_NUM_FHA", "AMT_ALL", "AMT_FHA", "PCT_AMT_FHA")
dt = as.data.table(read_csv("C:/Users/GiulioVannini/Documents/Visual Studio 2017/Projects/MABIDA2017/Gigli/Management science/Data/fha_by_tract.csv", col_names = names))
head(dt)

#inseriamo una nuova colonna GEOID nel dataframe

dt$GEOID = as.character(with(dt, as.numeric(Census_Tract_Number) * 100 + 10 ^ 6 * as.numeric(County_Code) + 10 ^ 9 * as.numeric(State_Code)  ))
head(dt)

df$GEOID = NULL # per escludere la colonna... ma perche' dovremmo dropparla?

df = dt[-1,]

# Indici su data frame
setkey(dt, State_Code, County_Code)
head(dt)
data.frame(unclass(summary(dt)))

str(dt)

library(psych)
describeBy(dt, dt$PCT_AMT_FHA)
describeBy(dt)
hist(dt$PCT_AMT_FHA, col = rgb(1, 0, 0, 0.5))

#Creo una nuova colonna applicando il logaritmo ai valori di AMT_ALL del data frame

dt$LOG_AMT_ALL = log1p(df$AMT_ALL)
hist(dt$LOG_AMT_ALL, col = rgb(1, 0, 0, 0.5))

Parsed with column specification:
cols(
  State_Code = col_character(),
  County_Code = col_character(),
  Census_Tract_Number = col_character(),
  NUM_ALL = col_integer(),
  NUM_FHA = col_integer(),
  PCT_NUM_FHA = col_integer(),
  AMT_ALL = col_integer(),
  AMT_FHA = col_integer(),
  PCT_AMT_FHA = col_integer()
)
Warning message:
"115232 parsing failures.
 row         col               expected actual
1217 PCT_NUM_FHA no trailing characters  .9091
1217 PCT_AMT_FHA no trailing characters  .7336
1218 PCT_NUM_FHA no trailing characters  .3333
1218 PCT_AMT_FHA no trailing characters  .6689
1219 PCT_NUM_FHA no trailing characters  .9091
.... ........... ...................... ......
See problems(...) for more details.
"

  State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1 08         075         NA                  1       1       100
2 28         049         0103.01             1       1       100
3 40         003         NA                  1       1       100
4 39         113         0603.00             3       3       100
5 12         105         0124.04             2       2       100
6 12         086         9808.00             1       1       100
  AMT_ALL AMT_FHA PCT_AMT_FHA
1 258     258     100
2  71      71     100
3 215     215     100
4 206     206     100
5 303     303     100
6 188     188     100

  State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1 08         075         NA                  1       1       100
2 28         049         0103.01             1       1       100
3 40         003         NA                  1       1       100
4 39         113         0603.00             3       3       100
5 12         105         0124.04             2       2       100
6 12         086         9808.00             1       1       100
  AMT_ALL AMT_FHA PCT_AMT_FHA GEOID
1 258     258     100         NA
2  71      71     100         28049010301
3 215     215     100         NA
4 206     206     100         39113060300
5 303     303     100         12105012404
6 188     188     100         12086980800

ERROR: Error in df$GEOID = NULL: object of type 'closure' is not subsettable

# Indexing data frames

In [10]:
head(dt$State_Code) #ottengo i valori della colonna

head(dt[,c(State_Code, County_Code)])  #opero su sottoinsieme del dataframe
head(dt[, County_Code, keyby = State_Code])
str(df$State_Code)

dt[12550,]

dt[12550, 'State_Code'] #riferimenti misti

dt[12545:12550, County_Code, keyby = State_Code]

dt[3, 5]

dt[3:5, 2:4]

[1] "08" "28" "40" "39" "12" "12"

[1] "08" "28" "40" "39" "12" "12"

  State_Code County_Code
1 NA         NA
2 01         091
3 01         091
4 01         063
5 01         097
6 01         073

ERROR: Error in df$State_Code: object of type 'closure' is not subsettable

# Filtering data

In [11]:
head(subset(dt, State_Code == 33)) #Creo un sottoindieme del data frame per valori di State_Code corrispondenti a 33.
head(subset(dt, (State_Code == 33) | (Census_Tract_Number == 9613))) #Sottoinsieme con State_Code=33 | Census_Tract_Number=9613
dt[State_Code == 33]

  State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1 33         011         0013.00             13       9      NA
2 33         011         0106.00             32      20      NA
3 33         011         0024.00             72      45      NA
4 33         013         0440.00             24      14      NA
5 33         011         0002.02             10       6      60
6 33         011         0018.00             35      21      60
  AMT_ALL AMT_FHA PCT_AMT_FHA GEOID
1  1700   1310    NA          33011001300
2  5031   3510    NA          33011010600
3 10435   7040    NA          33011002400
4  3479   2234    NA          33013044000
5  1574    993    NA          33011000202
6  5222   3293    NA          33011001800

  State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1 33         011         0013.00             13       9      NA
2 33         011         0106.00             32      20      NA
3 33         011         0024.00             72      45      NA
4 33         013         0440.00             24      14      NA
5 33         011         0002.02             10       6      60
6 33         011         0018.00             35      21      60
  AMT_ALL AMT_FHA PCT_AMT_FHA GEOID
1  1700   1310    NA          33011001300
2  5031   3510    NA          33011010600
3 10435   7040    NA          33011002400
4  3479   2234    NA          33013044000
5  1574    993    NA          33011000202
6  5222   3293    NA          33011001800

    State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1   33         011         0013.00             13       9      NA
2   33         011         0106.00             32      20      NA
3   33         011         0024.00             72      45      NA
4   33         013         0440.00             24      14      NA
5   33         011         0002.02             10       6      60
6   33         011         0018.00             35      21      60
7   33         011         0007.00             37      21      NA
8   33         015         0035.00             35      20      NA
9   33         013         0443.00             29      16      NA
10  33         013         0322.00             13       7      NA
11  33         013         0030.06             26      13      50
12  33         019         9759.01              8       4      50
13  33         011         0023.00             32      16      50
14  33         011         0122.00             60      28      NA
15  33         019         9757.00             14       7      50
16  33         011         0109.00             51      27      NA
17  33         011         0015.00              8       4      50
18  33         011         0010.00             62      31      50
19  33         011         0016.00             18       9      50
20  33         015         1074.00             17       7      NA
21  33         011         0113.00             32      17      NA
22  33         011         0017.00             14       7      50
23  33         011         0012.00             14       7      50
24  33         013         0327.01             25      16      64
25  33         015         0033.02             35      18      NA
26  33         011         0022.00             35      16      NA
27  33         011         0195.01             15       8      NA
28  33         017         0844.00             23       9      NA
29  33         011         0107.00              5       2      40
30  33         011         0008.00             12       6      50
... ...        ...         ...                 ...     ...     ...
269 33         009         9604.00             80      3       NA
270 33         001         9652.00             23      1       NA
271 33         009         9617.00             44      1       NA
272 33         015         0710.00             67      3       NA
273 33         015         0650.08             38      1       NA
274 33         015         0692.00             49      1       NA
275 33         003         9558.00             30      1       NA
276 33         015         0697.00             36      1       NA
277 33         019         9753.00             41      1       NA
278 33         015         NA                   1      0        0
279 33         001         NA                   1      0        0
280 33         019         NA                   1      0        0
281 33         009         9616.02             37      0        0
282 33         011         0111.01              9      0        0
283 33         001         9664.01             21      0        0
284 33         009         9607.00              9      0        0
285 33         017         0802.04              6      0        0
286 33         007         9502.00             13      0        0
287 33         007         9510.00             29      0        0
288 33         003         NA                   2      0        0
289 33         009         9616.01             17      0        0
290 33         005         NA                   1      0        0
291 33         011         2004.00              3      0        0
292 33         007         9501.00             16      0        0
293 33         007         9511.00             15      0        0
294 33         011         0220.00             11      0        0
295 33         019         9751.00             16      0        0
296 33         007         9506.00              6      0        0
297 33         017         NA                   2      0        0
298 33         007         9503.00             10      0        0
    AMT_ALL AMT_FHA PCT_AMT_FHA GEOID
1    1700   1310    NA          33011001300
2    5031   3510    NA          33011010600
3   10435   7040    NA          33011002400
4    3479   2234    NA          33013044000
5    1574    993    NA          33011000202
6    5222   3293    NA          33011001800
7    6821   4205    NA          33011000700
8    5132   3101    NA          33015003500
9    4385   2571    NA          33013044300
10   1706    991    NA          33013032200
11   4356   2508    NA          33013003006
12    784    434    NA          33019975901
13   4522   2483    NA          33011002300
14   9592   5256    NA          33011012200
15   1977   1072    NA          33019975700
16   8444   4546    NA          33011010900
17   1156    619    NA          33011001500
18  10827   5782    NA          33011001000
19   2503   1329    NA          33011001600
20   3846   2042    NA          33015107400
21   6391   3387    NA          33011011300
22   1899   1003    NA          33011001700
23   2050   1081    NA          33011001200
24   3377   1773    NA          33013032701
25   6629   3470    NA          33015003302
26   5943   2959    NA          33011002200
27   2970   1472    NA          33011019501
28   2481   1200    NA          33017084400
29    669    319    NA          33011010700
30   2117   1006    NA          33011000800
... ...     ...     ...         ...
269 13224   453     NA          33009960400
270  6419   206     NA          33001965200
271  7005   214     NA          33009961700
272 30242   910     NA          33015071000
273  8272   246     NA          33015065008
274 14648   341     NA          33015069200
275  5680   124     NA          33003955800
276 18668   268     NA          33015069700
277 15214   143     NA          33019975300
278   305     0      0          NA
279   275     0      0          NA
280   180     0      0          NA
281 14828     0      0          33009961602
282   701     0      0          33011011101
283  6817     0      0          33001966401
284  1700     0      0          33009960700
285  1203     0      0          33017080204
286  1135     0      0          33007950200
287  6183     0      0          33007951000
288   297     0      0          NA
289  5533     0      0          33009961601
290    53     0      0          NA
291   500     0      0          33011200400
292  1885     0      0          33007950100
293  1875     0      0          33007951100
294  2098     0      0          33011022000
295  3546     0      0          33019975100
296   702     0      0          33007950600
297   553     0      0          NA
298  1170     0      0          33007950300

# Joining data

In [12]:
dt2 = as.data.table(read_tsv("C:/Users/GiulioVannini/Documents/Visual Studio 2017/Projects/MABIDA2017/Gigli/Management science/Data/2013_Gaz_tracts_national.tsv", col_names = T))
head(dt2)
dt$GEOID = as.character(with(dt, as.numeric(Census_Tract_Number) * 100 + 10 ^ 6 * as.numeric(County_Code) + 10 ^ 9 * as.numeric(State_Code)))
dt_joined = dt[dt2, on = "GEOID"]
head(dt_joined)

Parsed with column specification:
cols(
  USPS = col_character(),
  GEOID = col_character(),
  ALAND = col_integer(),
  AWATER = col_integer(),
  ALAND_SQMI = col_double(),
  AWATER_SQMI = col_double(),
  INTPTLAT = col_double(),
  INTPTLONG = col_double()
)
Warning message:
"698 parsing failures.
 row    col   expected      actual
1182 ALAND  an integer 18082854844
1182 AWATER an integer 20793145269
1183 ALAND  an integer 8547315155
1183 AWATER an integer 22088655933
1184 ALAND  an integer 2823181227
.... ...... .......... ...........
See problems(...) for more details.
"

  USPS GEOID       ALAND    AWATER ALAND_SQMI AWATER_SQMI INTPTLAT INTPTLONG
1 AL   01001020100  9809939 36312  3.788      0.014       32.48179 -86.49025
2 AL   01001020200  3340498  5846  1.290      0.002       32.47576 -86.47247
3 AL   01001020300  5349274  9054  2.065      0.003       32.47402 -86.45970
4 AL   01001020400  6382705 16244  2.464      0.006       32.47103 -86.44484
5 AL   01001020500 11397734 48412  4.401      0.019       32.45892 -86.42182
6 AL   01001020600  8020363 60048  3.097      0.023       32.44737 -86.47683

  State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1 NA         NA          NA                  NA      NA      NA
2 NA         NA          NA                  NA      NA      NA
3 NA         NA          NA                  NA      NA      NA
4 NA         NA          NA                  NA      NA      NA
5 NA         NA          NA                  NA      NA      NA
6 NA         NA          NA                  NA      NA      NA
  AMT_ALL AMT_FHA PCT_AMT_FHA GEOID       USPS ALAND    AWATER ALAND_SQMI
1 NA      NA      NA          01001020100 AL    9809939 36312  3.788
2 NA      NA      NA          01001020200 AL    3340498  5846  1.290
3 NA      NA      NA          01001020300 AL    5349274  9054  2.065
4 NA      NA      NA          01001020400 AL    6382705 16244  2.464
5 NA      NA      NA          01001020500 AL   11397734 48412  4.401
6 NA      NA      NA          01001020600 AL    8020363 60048  3.097
  AWATER_SQMI INTPTLAT INTPTLONG
1 0.014       32.48179 -86.49025
2 0.002       32.47576 -86.47247
3 0.003       32.47402 -86.45970
4 0.006       32.47103 -86.44484
5 0.019       32.45892 -86.42182
6 0.023       32.44737 -86.47683

# Aggregating data

In [13]:
usps_groups = group_by(dt_joined, USPS)
usps_groups
group_AK_5 <- filter(usps_groups, USPS == 'AK')[5,] #filtro

df_by_state <- summarise(usps_groups, count = n(), AMT_FHA = sum(AMT_FHA), AMT_ALL = sum(AMT_ALL), NUM_FHA = sum(NUM_FHA), NUM_ALL = sum(NUM_ALL))
head(df_by_state)

df_by_state$PCT_AMT_FHA <- 100.0 * df_by_state$AMT_FHA / df_by_state$AMT_ALL

hist(df_by_state$PCT_AMT_FHA, breaks = 20)

df_by_state2 <- summarise(usps_groups, count = n(), sum_NUM_FHA = sum(NUM_FHA), mean_NUM_ALL = mean(NUM_ALL))
head(df_by_state2)
dplyr::arrange(usps_groups, desc(INTPTLAT))[1,]
names(usps_groups)

#Funzione per cui, per ogni valore di USPS ottengo il massimo di INTPTLAT               
farthest_north <- function(state_df) {
    result <- dplyr::arrange(state_df, desc(INTPTLAT))[1,]
    return(result)
}

#Creo un dataframe che mi restituisce il valore massimo trovato nella colonna INTPTLAT per valore univoco di USPS 
northest <- summarise(usps_groups, farthest_north = max(INTPTLAT))
northest

ERROR: Error in eval(expr, envir, enclos): non trovo la funzione "group_by"

# Sorting by indices and columns

In [14]:
dtbystate = dt[order(State_Code)]
dtbystate
dtbyAMTFHA = dt[order(AMT_FHA)]
dtbyAMTFHA

      State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1     01         091         9733.00              1      1       100
2     01         091         9732.00              2      2       100
3     01         063         0600.00              1      1       100
4     01         097         0040.00              1      1       100
5     01         073         0008.00              1      1       100
6     01         097         0027.00              1      1       100
7     01         097         0049.00              1      1       100
8     01         025         9575.00              2      2       100
9     01         097         0032.04              3      3       100
10    01         099         0762.00              2      2       100
11    01         073         0035.00              1      1       100
12    01         097         0004.01              2      2       100
13    01         101         0012.00              1      1       100
14    01         087         2319.00              1      1       100
15    01         025         9580.01              3      3       100
16    01         097         0013.02              1      1       100
17    01         101         0056.03              2      2       100
18    01         073         0051.04              3      3       100
19    01         101         0051.02              1      1       100
20    01         033         0203.00              1      1       100
21    01         073         0105.00              1      1       100
22    01         027         9592.00              2      2       100
23    01         073         0038.03              1      1       100
24    01         073         0132.00              1      1       100
25    01         097         0051.00              1      1       100
26    01         101         0002.00              1      1       100
27    01         097         0050.00              2      2       100
28    01         089         0012.00              7      5        NA
29    01         073         0051.01              6      4        NA
30    01         073         0109.00             12      9        75
...   ...        ...         ...                 ...     ...     ...
72006 72         107         9548.02                1       0     0
72007 72         113         0723.00                2       0     0
72008 72         011         8101.00                1       0     0
72009 72         127         0059.00                2       0     0
72010 72         093         9601.00                2       0     0
72011 72         127         0061.02                3       0     0
72012 72         003         4305.02                5       0     0
72013 72         127         0035.01                1       0     0
72014 72         099         4203.01                6       0     0
72015 72         099         4204.02                4       0     0
72016 72         087         1101.02                5       0     0
72017 72         127         9801.03                1       0     0
72018 72         127         0014.00                1       0     0
72019 72         071         4107.01                9       0     0
72020 72         071         4102.00               48       0     0
72021 72         121         9605.00                4       0     0
72022 72         031         0501.06               25       0     0
72023 72         061         0410.00                1       0     0
72024 72         027         3206.00                1       0     0
72025 72         099         4201.00               11       0     0
72026 72         039         9557.00                2       0     0
72027 72         087         1101.01                2       0     0
72028 72         111         7308.00                8       0     0
72029 72         001         9568.00                2       0     0
72030 72         001         9563.00                1       0     0
72031 72         081         9584.00                1       0     0
72032 72         031         0501.07               23       0     0
72033 72         003         4304.02                3       0     0
72034 72         141         NA                     1       0     0
72035 NA         NA          NA                  9477    1932    NA
      AMT_ALL AMT_FHA PCT_AMT_FHA GEOID
1     214     214     100         1091973300
2     168     168     100         1091973200
3     141     141     100         1063060000
4      25      25     100         1097004000
5      58      58     100         1073000800
6      60      60     100         1097002700
7      70      70     100         1097004900
8     206     206     100         1025957500
9     201     201     100         1097003204
10    193     193     100         1099076200
11    117     117     100         1073003500
12    133     133     100         1097000401
13     92      92     100         1101001200
14     28      28     100         1087231900
15    459     459     100         1025958001
16     29      29     100         1097001302
17    126     126     100         1101005603
18    361     361     100         1073005104
19     51      51     100         1101005102
20    142     142     100         1033020300
21     46      46     100         1073010500
22    152     152     100         1027959200
23     59      59     100         1073003803
24     87      87     100         1073013200
25     36      36     100         1097005100
26    206     206     100         1101000200
27    128     128     100         1097005000
28    311     307      NA         1089001200
29    276     272      NA         1073005101
30    710     691      NA         1073010900
...   ...     ...     ...         ...
72006      10      0   0          72107954802
72007     267      0   0          72113072300
72008     146      0   0          72011810100
72009     133      0   0          72127005900
72010     166      0   0          72093960100
72011     482      0   0          72127006102
72012     415      0   0          72003430502
72013     188      0   0          72127003501
72014     860      0   0          72099420301
72015     554      0   0          72099420402
72016     537      0   0          72087110102
72017      74      0   0          72127980103
72018      80      0   0          72127001400
72019     875      0   0          72071410701
72020    7463      0   0          72071410200
72021     438      0   0          72121960500
72022    5999      0   0          72031050106
72023     105      0   0          72061041000
72024      92      0   0          72027320600
72025    1216      0   0          72099420100
72026     140      0   0          72039955700
72027     304      0   0          72087110101
72028    2404      0   0          72111730800
72029     327      0   0          72001956800
72030      68      0   0          72001956300
72031      46      0   0          72081958400
72032    4506      0   0          72031050107
72033     259      0   0          72003430402
72034     115      0   0          NA
72035 1575871 331515  NA          NA

      State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1     21         175         9502.00              2      0       0
2     32         003         0024.04              1      0       0
3     36         061         0183.00             51      0       0
4     51         710         0040.01             16      0       0
5     42         131         NA                   1      0       0
6     22         093         0405.00              1      0       0
7     37         063         0015.01              1      0       0
8     72         071         4103.00              4      0       0
9     37         115         NA                   3      0       0
10    22         033         0052.00              5      0       0
11    41         051         0049.00             29      0       0
12    12         009         0651.24              1      0       0
13    16         031         9502.00             10      0       0
14    36         047         0582.00              8      0       0
15    21         067         0018.00              6      0       0
16    37         157         0412.00             13      0       0
17    18         135         NA                   1      0       0
18    21         051         9502.00              5      0       0
19    20         035         4940.00              6      0       0
20    25         017         3538.00             34      0       0
21    50         019         9520.00             12      0       0
22    40         101         0003.00              8      0       0
23    48         113         0188.02              1      0       0
24    39         067         NA                   1      0       0
25    06         075         0104.00             33      0       0
26    48         027         0216.02              2      0       0
27    20         163         9746.00              5      0       0
28    15         003         0027.01              4      0       0
29    05         119         0042.02             32      0       0
30    05         043         4902.00              5      0       0
...   ...        ...         ...                 ...     ...     ...
72006 48         439         1139.27              462     213    NA
72007 49         035         1130.20              449     148    NA
72008 06         067         0087.05              330     141    NA
72009 51         107         6118.06              403      94    NA
72010 48         157         6734.00              607     192    NA
72011 06         077         0035.00              322     179    NA
72012 51         107         6118.02              419      98    NA
72013 06         107         0010.03              415     197    NA
72014 38         017         0405.00             1009     237    NA
72015 06         073         0133.10              439     116    NA
72016 06         029         0032.06              317     213    NA
72017 48         339         6920.01              645     258    40
72018 48         121         0201.08              671     216    NA
72019 49         035         1131.07              465     184    NA
72020 04         013         4226.46              480     212    NA
72021 06         071         0023.04              293     155    NA
72022 47         187         0512.02              534     225    NA
72023 06         073         0133.13              487     147    NA
72024 06         067         0096.38              387     151    NA
72025 48         439         1141.03              729     334    NA
72026 06         061         0213.22              499     149    NA
72027 48         039         6606.02              729     268    NA
72028 32         003         0058.32              516     298    NA
72029 06         065         0406.09              417     157    NA
72030 06         077         0052.06              531     194    NA
72031 04         013         8160.00              764     259    NA
72032 48         157         6731.01             2329     363    NA
72033 48         157         6729.00             1145     504    NA
72034 48         141         0103.41             1159     591    NA
72035 NA         NA          NA                  9477    1932    NA
      AMT_ALL AMT_FHA PCT_AMT_FHA GEOID
1       271   0       0           21175950200
2        79   0       0           32003002404
3     33258   0       0           36061018300
4      4663   0       0           51710004001
5       127   0       0           NA
6        30   0       0           22093040500
7       160   0       0           37063001501
8       521   0       0           72071410300
9       452   0       0           NA
10      704   0       0           22033005200
11     6545   0       0           41051004900
12     4920   0       0           12009065124
13     1710   0       0           16031950200
14     4792   0       0           36047058200
15      664   0       0           21067001800
16     1062   0       0           37157041200
17       74   0       0           NA
18      409   0       0           21051950200
19      191   0       0           20035494000
20    11703   0       0           25017353800
21     1917   0       0           50019952000
22      709   0       0           40101000300
23       68   0       0           48113018802
24       67   0       0           NA
25    20299   0       0           6075010400
26      515   0       0           48027021602
27      289   0       0           20163974600
28     1749   0       0           15003002701
29     7643   0       0           5119004202
30      915   0       0           5043490200
...   ...     ...     ...         ...
72006   74745  34669  NA          48439113927
72007  105582  34733  NA          49035113020
72008   71190  34776  NA          6067008705
72009  157102  35316  NA          51107611806
72010  131611  35588  NA          48157673400
72011   60680  36321  NA          6077003500
72012  159542  38069  NA          51107611802
72013   83999  38551  NA          6107001003
72014  200789  38844  NA          38017040500
72015  140477  39155  NA          6073013310
72016   56491  40690  NA          6029003206
72017  107070  40786  NA          48339692001
72018  121125  41205  NA          48121020108
72019  103593  42146  NA          49035113107
72020   95027  43508  NA          4013422646
72021   76278  43897  NA          6071002304
72022  109581  44938  NA          47187051202
72023  155114  45844  NA          6073013313
72024  110901  47696  NA          6067009638
72025  118654  50038  NA          48439114103
72026  148030  50178  NA          6061021322
72027  142061  50868  NA          48039660602
72028   85463  54029  NA          32003005832
72029  139963  57956  NA          6065040609
72030  146652  60792  NA          6077005206
72031  193726  63581  NA          4013816000
72032  578838  76312  NA          48157673101
72033  203086  86009  NA          48157672900
72034  180263  87190  NA          48141010341
72035 1575871 331515  NA          NA

# Unique values

In [15]:
head(unique(dt))
nrow(unique(dt))

  State_Code County_Code Census_Tract_Number NUM_ALL NUM_FHA PCT_NUM_FHA
1 08         075         NA                  1       1       100
2 28         049         0103.01             1       1       100
3 40         003         NA                  1       1       100
4 39         113         0603.00             3       3       100
5 12         105         0124.04             2       2       100
6 12         086         9808.00             1       1       100
  AMT_ALL AMT_FHA PCT_AMT_FHA GEOID
1 258     258     100         NA
2  71      71     100         28049010301
3 215     215     100         NA
4 206     206     100         39113060300
5 303     303     100         12105012404
6 188     188     100         12086980800

[1] 72035

# Handling missing and NA data

In [16]:
library(zoo)
dt[, c('GEOID')][1:10]
is.na(dt[, c('GEOID')])[1:10]
length(dt[, c('GEOID')])
length(na.omit(dt[, c('GEOID')]))
dt$FILL0 <- dt$GEOID
dt$FILL0[which(is.na(dt$GEOID))] <- 0 #sostituisco Na con valore 0
dt$FILL_mean <- dt$GEOID
dt$FILL_mean[which(is.na(dt$GEOID))] <- mean(dt$GEOID, na.rm = TRUE)
dt$FILL_inter <- dt$GEOID
dt$FILL_inter <- na.approx(dt$FILL_inter)
dt[, c('GEOID', 'FILL0', 'FILL_mean', 'FILL_inter')][1:10,]

Warning message:
"package 'zoo' was built under R version 3.3.3"
Attaching package: 'zoo'

The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

   GEOID
1  NA
2  28049010301
3  NA
4  39113060300
5  12105012404
6  12086980800
7  39035120200
8  12103020700
9  36119003000
10 NA

 [1]  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE

[1] 1

[1] 1

Warning message in mean.default(dt$GEOID, na.rm = TRUE):
"argument is not numeric or logical: returning NA"Warning message in `[<-.data.table`(x, j = name, value = value):
"Supplied 72034 items to be assigned to 72035 items of column 'FILL_inter' (recycled leaving remainder of 1 items)."Warning message in `[<-.data.table`(x, j = name, value = value):
"Coerced 'double' RHS to 'character' to match the column's type; may have truncated precision. Either change the target column to 'double' first (by creating a new 'double' vector length 72035 (nrows of entire table) and assign that; i.e. 'replace' column), or coerce RHS to 'character' (e.g. 1L, NA_[real|integer]_, as.*, etc) to make your intent clear and for speed. Or, set the column type correctly up front when you create the table and stick to it, please."

   GEOID       FILL0       FILL_mean   FILL_inter
1  NA          0           NA          28049010301
2  28049010301 28049010301 28049010301 33581035300.5
3  NA          0           NA          39113060300
4  39113060300 39113060300 39113060300 12105012404
5  12105012404 12105012404 12105012404 12086980800
6  12086980800 12086980800 12086980800 39035120200
7  39035120200 39035120200 39035120200 12103020700
8  12103020700 12103020700 12103020700 36119003000
9  36119003000 36119003000 36119003000 42116005852
10 NA          0           NA          48113008704

# Manipulating strings

In [17]:
library(stringr)
library(dplyr)
dtstring = dt_joined %>% filter(str_detect(USPS, "A"))

Warning message:
"package 'stringr' was built under R version 3.3.3"Warning message:
"package 'dplyr' was built under R version 3.3.3"------------------------------------------------------------------------------
data.table + dplyr code now lives in dtplyr.
Please library(dtplyr)!
------------------------------------------------------------------------------

Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

# Indices in Pandas

In [18]:

s1 <- c(1, 2, 3)
names(s1) = c('a', 'b', 'c')
s2 <- c(3, 2, 1)
names(s2) = c('c', 'b', 'a')
s1 + s2
s3 <- c(3, 2, 1)
names(s3) = c('c', 'd', 'e')
s1 + s3
append(s1, s3)

a b c
4 4 4

a b c
4 4 4

a b c c d e
1 2 3 3 2 1

# Function application and mapping

In [19]:
dff <- as.data.frame(matrix(1:24, ncol = 6, nrow = 4, byrow = TRUE))
head(sin(dff))
dff
apply(dff, 1:2, function(x) sprintf("%.2f", x))
apply(dff, 2, function(x) max(x) - min(x))
apply(dff, 1, function(x) max(x) - min(x))

  V1        V2        V3        V4           V5         V6
1 0.8414710 0.9092974 0.1411200 -0.756802495 -0.9589243 -0.2794155
2 0.6569866 0.9893582 0.4121185 -0.544021111 -0.9999902 -0.5365729
3 0.4201670 0.9906074 0.6502878 -0.287903317 -0.9613975 -0.7509872
4 0.1498772 0.9129453 0.8366556 -0.008851309 -0.8462204 -0.9055784

  V1 V2 V3 V4 V5 V6
1  1  2  3  4  5  6
2  7  8  9 10 11 12
3 13 14 15 16 17 18
4 19 20 21 22 23 24

     V1    V2    V3    V4    V5    V6
[1,] 1.00  2.00  3.00  4.00  5.00  6.00
[2,] 7.00  8.00  9.00  10.00 11.00 12.00
[3,] 13.00 14.00 15.00 16.00 17.00 18.00
[4,] 19.00 20.00 21.00 22.00 23.00 24.00

V1 V2 V3 V4 V5 V6
18 18 18 18 18 18

[1] 5 5 5 5

# Pandas HTML data import example

In [20]:
library(htmltab)
library(stringi)
require(data.table)
url <- "http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world"
tallest <- htmltab(doc = url, which = 3)
tl = t(as.data.table(stri_extract_all(tallest$Coordinates, regex = "-?\\d{1,3}+\\.?\\d{4,6}")))
tallest$Latitude = tl[, 3]
tallest$Longitude = tl[, 4]
rm(tl)
head(tallest)

Warning message:
"package 'htmltab' was built under R version 3.3.3"

  Category                 Structure
2 Mixed use                Burj Khalifa
3 Self-supporting tower    Tokyo Skytree
4 Guyed steel lattice mast KVLY-TV mast
5 Clock building           Abraj Al Bait Towers
6 Office                   One World Trade Center
7 Military structure       Large masts of INS Kattabomman
  Country                City                    Height (metres) Height (feet)
2 United Arab Emirates Dubai                   828.1           2,717
3 Japan                Tokyo                   634             2,080
4 United States        Blanchard, North Dakota 628.8           2,063
5 Saudi Arabia         Mecca                   601             1,972
6 United States        New York, NY            541             1,776
7 India                Tirunelveli             471             1,545
  Year built
2 2010
3 2011
4 1963
5 2011
6 2013
7 2014
  Coordinates
2 251150.0N551626.6E / 25.197222N 55.274056E
3 354236.5N1394839E / 35.710139N 139.81083E
4 472032N971725W / 47.34222N 97.29028W
5 212508N394935E / 21.41889N 39.82639E
6 404246.8N74048.6W / 40.713000N 74.013500W
7 82242.52N774438.45E / 8.3784778N 77.7440139E; 82230.13N774521.07E / 8.3750361N 77.7558528E
  Latitude  Longitude
2 25.197222 55.274056
3 35.710139 139.81083
4 47.34222  97.29028
5 21.41889  39.82639
6 40.713000 74.013500
7 8.375036  77.755852

# Pandas Timestamps

In [21]:
Sys.setlocale("LC_TIME", "C")
as.POSIXlt("July 4, 2016", format = "%B %d, %Y")
as.POSIXlt('Monday, July 4, 2016', format = "%A, %B %d, %Y")
as.POSIXlt('Tuesday, July 4th, 2016', format = "%A, %B %dth, %Y")
as.POSIXlt('Monday, July 4th, 2016 05:00 PM', format = "%A, %B %dth, %Y %I:%M %p")
as.POSIXlt('04/07/2016T17:20:13.123456', format = "%d/%m/%YT%H:%M:%OS")
as.Date(as.POSIXlt(1467651600000000000 / 1000000000, origin = "1970-01-01"))

july4 = as.POSIXct('Monday, July 4th, 2016 05:00 PM', format = "%A, %B %dth, %Y %I:%M %p", tz = "US/Eastern")
labor_day = as.POSIXct('9/5/2016 12:00', format = "%d/%m/%Y %H:%M", tz = "US/Eastern")
thanksgiving = as.POSIXct('11/24/2016 16:00', format = "%m/%d/%Y %H:%M")

labor_day - july4
library(bizdays)
library(lubridate)
last_day <- function(date) {
    ceiling_date(date, "month") - days(1)
}
last_day(ymd(20160704))
create.calendar(name = 'ANBIMA', holidays = holidaysANBIMA, weekdays = c('saturday', 'sunday'))
bizdays.options$set(default.calendar = 'ANBIMA')
cal = bizdays.options$get("default.calendar")
bizdays::offset(july4, 5, cal)
bizdays::offset(july4, -1, cal)
bizdays::offset(last_day(ymd(20160704)), 0, cal) # last business day of the month.

require(bizdays)
business_days = bizseq('2016-01-01', '2016-12-31', "ANBIMA")
business_days

dtimed = data.table(x = business_days, y = seq(1, length(business_days)))
setkey(dtimed, x)

d <- c("2009-03-07 12:00", "2009-03-08 12:00", "2009-03-28 12:00", "2009-03-29 12:00", "2009-10-24 12:00", "2009-10-25 12:00", "2009-10-31 12:00", "2009-11-01 12:00")
t1 <- as.POSIXct(d, "America/Los_Angeles")
cbind(US = format(t1), UK = format(t1, tz = "Europe/London"))

[1] "C"

[1] "2016-07-04 CEST"

[1] "2016-07-04 CEST"

[1] "2016-07-04 CEST"

[1] "2016-07-04 17:00:00 CEST"

[1] "2016-07-04 17:20:13 CEST"

[1] "2016-07-04"

Time difference of -56.20833 days

Warning message:
"package 'bizdays' was built under R version 3.3.3"
Attaching package: 'bizdays'

The following object is masked from 'package:stats':

    offset

Warning message:
"package 'lubridate' was built under R version 3.3.3"
Attaching package: 'lubridate'

The following objects are masked from 'package:data.table':

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year

The following object is masked from 'package:base':

    date

[1] "2016-07-31"

[1] "2016-07-11"

[1] "2016-07-01"

[1] NA

  [1] "2016-01-04" "2016-01-05" "2016-01-06" "2016-01-07" "2016-01-08"
  [6] "2016-01-11" "2016-01-12" "2016-01-13" "2016-01-14" "2016-01-15"
 [11] "2016-01-18" "2016-01-19" "2016-01-20" "2016-01-21" "2016-01-22"
 [16] "2016-01-25" "2016-01-26" "2016-01-27" "2016-01-28" "2016-01-29"
 [21] "2016-02-01" "2016-02-02" "2016-02-03" "2016-02-04" "2016-02-05"
 [26] "2016-02-10" "2016-02-11" "2016-02-12" "2016-02-15" "2016-02-16"
 [31] "2016-02-17" "2016-02-18" "2016-02-19" "2016-02-22" "2016-02-23"
 [36] "2016-02-24" "2016-02-25" "2016-02-26" "2016-02-29" "2016-03-01"
 [41] "2016-03-02" "2016-03-03" "2016-03-04" "2016-03-07" "2016-03-08"
 [46] "2016-03-09" "2016-03-10" "2016-03-11" "2016-03-14" "2016-03-15"
 [51] "2016-03-16" "2016-03-17" "2016-03-18" "2016-03-21" "2016-03-22"
 [56] "2016-03-23" "2016-03-24" "2016-03-28" "2016-03-29" "2016-03-30"
 [61] "2016-03-31" "2016-04-01" "2016-04-04" "2016-04-05" "2016-04-06"
 [66] "2016-04-07" "2016-04-08" "2016-04-11" "2016-04-12" "2016-04-13"
 [71] "2016-04-14" "2016-04-15" "2016-04-18" "2016-04-19" "2016-04-20"
 [76] "2016-04-22" "2016-04-25" "2016-04-26" "2016-04-27" "2016-04-28"
 [81] "2016-04-29" "2016-05-02" "2016-05-03" "2016-05-04" "2016-05-05"
 [86] "2016-05-06" "2016-05-09" "2016-05-10" "2016-05-11" "2016-05-12"
 [91] "2016-05-13" "2016-05-16" "2016-05-17" "2016-05-18" "2016-05-19"
 [96] "2016-05-20" "2016-05-23" "2016-05-24" "2016-05-25" "2016-05-27"
[101] "2016-05-30" "2016-05-31" "2016-06-01" "2016-06-02" "2016-06-03"
[106] "2016-06-06" "2016-06-07" "2016-06-08" "2016-06-09" "2016-06-10"
[111] "2016-06-13" "2016-06-14" "2016-06-15" "2016-06-16" "2016-06-17"
[116] "2016-06-20" "2016-06-21" "2016-06-22" "2016-06-23" "2016-06-24"
[121] "2016-06-27" "2016-06-28" "2016-06-29" "2016-06-30" "2016-07-01"
[126] "2016-07-04" "2016-07-05" "2016-07-06" "2016-07-07" "2016-07-08"
[131] "2016-07-11" "2016-07-12" "2016-07-13" "2016-07-14" "2016-07-15"
[136] "2016-07-18" "2016-07-19" "2016-07-20" "2016-07-21" "2016-07-22"
[141] "2016-07-25" "2016-07-26" "2016-07-27" "2016-07-28" "2016-07-29"
[146] "2016-08-01" "2016-08-02" "2016-08-03" "2016-08-04" "2016-08-05"
[151] "2016-08-08" "2016-08-09" "2016-08-10" "2016-08-11" "2016-08-12"
[156] "2016-08-15" "2016-08-16" "2016-08-17" "2016-08-18" "2016-08-19"
[161] "2016-08-22" "2016-08-23" "2016-08-24" "2016-08-25" "2016-08-26"
[166] "2016-08-29" "2016-08-30" "2016-08-31" "2016-09-01" "2016-09-02"
[171] "2016-09-05" "2016-09-06" "2016-09-08" "2016-09-09" "2016-09-12"
[176] "2016-09-13" "2016-09-14" "2016-09-15" "2016-09-16" "2016-09-19"
[181] "2016-09-20" "2016-09-21" "2016-09-22" "2016-09-23" "2016-09-26"
[186] "2016-09-27" "2016-09-28" "2016-09-29" "2016-09-30" "2016-10-03"
[191] "2016-10-04" "2016-10-05" "2016-10-06" "2016-10-07" "2016-10-10"
[196] "2016-10-11" "2016-10-13" "2016-10-14" "2016-10-17" "2016-10-18"
[201] "2016-10-19" "2016-10-20" "2016-10-21" "2016-10-24" "2016-10-25"
[206] "2016-10-26" "2016-10-27" "2016-10-28" "2016-10-31" "2016-11-01"
[211] "2016-11-03" "2016-11-04" "2016-11-07" "2016-11-08" "2016-11-09"
[216] "2016-11-10" "2016-11-11" "2016-11-14" "2016-11-16" "2016-11-17"
[221] "2016-11-18" "2016-11-21" "2016-11-22" "2016-11-23" "2016-11-24"
[226] "2016-11-25" "2016-11-28" "2016-11-29" "2016-11-30" "2016-12-01"
[231] "2016-12-02" "2016-12-05" "2016-12-06" "2016-12-07" "2016-12-08"
[236] "2016-12-09" "2016-12-12" "2016-12-13" "2016-12-14" "2016-12-15"
[241] "2016-12-16" "2016-12-19" "2016-12-20" "2016-12-21" "2016-12-22"
[246] "2016-12-23" "2016-12-26" "2016-12-27" "2016-12-28" "2016-12-29"
[251] "2016-12-30"

     US                  UK
[1,] 2009-03-07 12:00:00 2009-03-07 20:00:00
[2,] 2009-03-08 12:00:00 2009-03-08 19:00:00
[3,] 2009-03-28 12:00:00 2009-03-28 19:00:00
[4,] 2009-03-29 12:00:00 2009-03-29 20:00:00
[5,] 2009-10-24 12:00:00 2009-10-24 20:00:00
[6,] 2009-10-25 12:00:00 2009-10-25 19:00:00
[7,] 2009-10-31 12:00:00 2009-10-31 19:00:00
[8,] 2009-11-01 12:00:00 2009-11-01 20:00:00

# Multi-indices, stacking, and pivot tables

In [22]:
grouped = group_by(dt_joined, State_Code, County_Code)
grouped_summ = summarise(grouped,
                        sum_NUM_ALL = sum(NUM_ALL),
                        sum_NUM_FHA = sum(NUM_FHA))

head(grouped_summ)
library(reshape2)
unstacked = dcast(grouped_summ, State_Code ~ County_Code, value.var = "sum_NUM_FHA")
head(unstacked)

  State_Code County_Code sum_NUM_ALL sum_NUM_FHA
1 10         001         1508         328
2 10         003         4620        1716
3 10         005         2977         229
4 11         001         6605        1154
5 12         001         1542         439
6 12         003           99          27

Warning message:
"package 'reshape2' was built under R version 3.3.3"
Attaching package: 'reshape2'

The following objects are masked from 'package:data.table':

    dcast, melt

  State_Code 001  003  005 006 007 009  011  013 015 ... 760 770 775 790 800
1 10          328 1716 229 NA  NA    NA   NA  NA  NA ... NA  NA  NA  NA  NA
2 11         1154   NA  NA NA  NA    NA   NA  NA  NA ... NA  NA  NA  NA  NA
3 12          439   27 241 NA  11  1514 5059   3 278 ... NA  NA  NA  NA  NA
4 13           17    2   5 NA   1    30   16 209 199 ... NA  NA  NA  NA  NA
5 15          109  259  NA NA  40   163   NA  NA  NA ... NA  NA  NA  NA  NA
6 16         1426    3 220 NA  12     7   51  31  11 ... NA  NA  NA  NA  NA
  810 820 830 840 NA
1 NA  NA  NA  NA  NA
2 NA  NA  NA  NA  NA
3 NA  NA  NA  NA  NA
4 NA  NA  NA  NA  NA
5 NA  NA  NA  NA  NA
6 NA  NA  NA  NA  NA